@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visibility {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------------------*/
[class*=__container] {
  max-width: 1087px;
  margin: 0px auto;
  padding: 0px 15px;
  position: relative;
}

/* PC */
@media (max-width: 1087px) {
  [class*=__container] {
    max-width: 970px;
  }
}
/* LAPTOP */
@media (max-width: 1024px) {
  [class*=__container] {
    max-width: 768px;
  }
}
/* TABLEЕ */
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*---------	HEADER---------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__logo {
  padding: 0px 0px 0px 0px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 122px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  padding: 0px 219px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.menu__link {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 13px;
  line-height: 30px;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: none;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 78px;
  height: 60px;
  left: 909px;
  top: 31px;
  background: linear-gradient(98.89deg, #FF9B05 25.06%, #FF8F3F 88.94%);
  -webkit-box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.button_contact:hover {
  background-color: #000;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #1A47EA;
    padding: 80px 15px 30px 15px;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .header:target .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__link {
    color: #fff;
    font-size: 20px;
  }

  .menu__item {
    margin: 0px 0px 20px 0px;
  }

  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 225px;
    width: 80px;
  }
}
.close-icon-menu,
.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .close-icon-menu,
.icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 40px 0px 0px;
  }

  .icon-menu::before,
.icon-menu::after {
    content: "";
    background-color: #000;
    height: 3px;
  }

  .icon-menu span {
    background-color: black;
    height: 3px;
  }

  .close-icon-menu {
    display: none;
  }

  .header:target .icon-menu {
    display: none;
  }

  .header:target .close-icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
  }
}
@media (max-width: 425px) {
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 300px;
    width: 80px;
  }

  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 80px 0px 0px;
  }
}
@media (max-width: 375px) {
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 250px;
    width: 80px;
  }

  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 60px 0px 0px;
  }
}
@media (max-width: 320px) {
  .header__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 220px;
    width: 80px;
  }

  .icon-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 60px 0px 0px;
  }
}
/*-------------MAIN--------------*/
.main {
  margin: 0px auto;
  padding: 0px 0px;
  position: relative;
}

.pubg__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}